REACT_APP_FIREBASE_CREDENTIALS={"apiKey":"AIzaSyBrajwnpHFOHZ1aAE_Af8FQLzWbE2d1n_o","authDomain":"barba-de-homem-hml.firebaseapp.com","databaseURL":"https://barba-de-homem-hml.firebaseio.com","projectId":"barba-de-homem-hml","storageBucket":"barba-de-homem-hml.appspot.com","messagingSenderId":"509920429459","appId":"1:509920429459:web:86900f373c5af630419466"}
