.PickBarber-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-PickBarber {
  width: 100%;
  height: 131px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.PickBarber-container header svg {
  margin-left: -15px;
  color: #fff;
}

.PickBarber-container h1 {
  margin: auto;
  color: #fff;
  font-size: 22px;
}
.divradio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid;
  width: 80%;
  padding: 20px 10px;
  padding-right: 20px;
}

.divradio label + label{
  float: right;
  margin: auto 0;
  
}

.divradio svg{
  margin-right: 5px;
}

.divbutton {
  width: 80%;
  margin-top: 40px;
  display: block;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.PickBarber-container label {
  margin-left: 30px;
  font-size: 20px;
}
.divinput {
  margin-top: 20px;
}
.PickBarber-container input[type=radio] + label {
  display: block;
  margin: 4px;
  cursor: pointer;
}
.PickBarber-container input[type=radio]{
  display: contents;
}
.PickBarber-container input[type=radio] + label:before {
  content: "\2714";
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-bottom: 4px;
  margin-right: 8px;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}
.PickBarber-container input[type=radio] + label:active:before {
  transform: scale(0);
}
.PickBarber-container input[type=radio]:checked + label:before {
  background-color: #fff;
  color: #02025e;
}

.select-payment{
  width: 80%;
  background-color: transparent;
  padding: 10px 3px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid;
}

.dropdown:hover + .divbutton{
  display: none;
}

.label-payment{
  margin-top: 15px;
  margin-left: 0 !important;
  width: 80%;
}

select{
  background: transparent;
}

option{
  background: #000000;
}

@media (min-width: 600px) {
  .PickBarber-container header {
    width: 100vw;
    padding: 0 100px;
  }

  .PickBarber-container h1 {
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .PickBarber-container header {
    width: 100vw;
    padding: 0 100px;
  }

  .PickBarber-container h1 {
    margin: auto;
  }
}
