/* BUTTON */

.button {
    padding: 6px 6px;
    margin: 10% 2px 0;
    border-radius: 50px;
    width: 100%;
    color: white;
    font-size: 18px;
    border: solid 1px white;
/*    background: -moz-linear-gradient(top,  #02025e 0%, #338cd6 100%);
/*    background: -webkit-linear-gradient(top,  #02025e 0%,#338cd6 100%); /* Chrome10-25,Safari5.1-6 */
/*    background: linear-gradient(to bottom,  #02025e 0%,#338cd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*    background: #02025e;
      border-color: white; 
      border-width: 1px;
*/
    background: none;
}

.button:hover {
    background-color: #E5E4E2;
    opacity: 80;
    color: #02025e;
}

@media (min-width: 800px) {
    /* Tablet  e Desktop */
    .button{
        width: 70%;
        margin: 5% 2px 0;
    }
}
