
.background {
  overflow: hidden;
  position:fixed;
  width: 100vw;
  min-height: 100vh;
  background: #02025e; /* Old browsers */
  background: -moz-linear-gradient(top,  #02025e 30%, #fe6600 100%); 
  background: -webkit-linear-gradient(top,  #02025e 30%, #fe6600 100%);
}

.title {
  color: white;
  padding-right: 10%;
  padding-top: 73%;
  font-size: 90%;
}

.div-buttons{
  position: center;
  margin: 0 auto;
  padding-left: 0%;
  padding-top: 10%;
  text-align: center;
  width: 80%;
}

.logo img{
  position: absolute;
  margin: 0 auto;
  padding: 10% 25% 5%;
  width: 50%;
}

@media (min-width: 500px) {
  /* Tablet */
  .title {
    color: white;
    padding-left: 5%;
    padding-top: 0%;
    font-size: 115%;
  }

  .div-buttons{
    margin: 0 auto;
    text-align: center;
    width: 80%;

    padding-top: 12%;
  }

  .logo img{
    position: absolute;
    margin: 0 auto;
    padding: 10% 33% 50%;
    width: 35%;
  }
}

@media (min-width: 800px) {
  /* Tablet */
  .title {
    color: white;
    padding-left: 10%;
    padding-top: 43%;
  }

  .div-buttons{
    margin: 0 auto;
    text-align: center;
    width: 80%;

    padding-top: 10%;
  }
  
  .logo img{
    position: absolute;
    margin: 0 auto;
    padding: 5% 35% 50%;
    width: 30%;
  }
}

@media (min-width: 1000px) {
  /* Desktop */

  .title {
    color: white;
    padding-left: 25%;
    padding-top: 25%;
  }

  .div-buttons{
    margin: 0 auto;
    text-align: center;
    width: 45%;

    padding-top: 1%;
  }
  
  .logo img{
    position: absolute;
    margin: 0 auto;
    padding: 5% 43% 50%;
    width: 15%;
  }
}
