.background {
  width: 100vw;
  min-height: 100vh;
  background: #02025e; /* Old browsers */
  background: -moz-linear-gradient(top,  #02025e 30%, #fe6600 100%); 
  background: -webkit-linear-gradient(top,  #02025e 30%, #fe6600 100%);
}

.title {
  color: white;
  padding-right: 10%;
  padding-top: 70%;
}

.div-buttons{
  position: unset;
  margin: 0 auto;
  padding-left: 0%;
  padding-top: 10%;
  text-align: center;
  width: 80%;
  height: 80%;
}

.logo img{
  position: absolute;
  margin: 0 auto;
  padding: 10% 25% 5%;
  width: 50%;
}

.float{
  margin-top: 5%;
  display: flex;
}

@media (min-width: 500px) {
  /* cel maior */

}

@media (min-width: 800px) {
  /* Tablet */

}

@media (min-width: 1000px) {
  /* Desktop */

}
